@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Overpass", sans-serif;
  background-color: hsl(216, 12%, 8%);
}

.container-one,
.container-two {
  height: 380px;
  width: 390px;
  background-color: hsl(212, 19%, 14%);
  margin: 8rem auto;
  border-radius: 15px;
}

.container-one img {
  margin: 1.3rem;
  padding: 0.7rem;
  border: 0.5px solid transparent;
  border-radius: 50%;
  background-color: hsl(213, 19%, 18%);
}

h1 {
  color: #fff;
  font-weight: 700;
  margin: 0.5rem 1rem;
  font-size: 23px;
}

p {
  color: hsl(217, 12%, 63%);
  margin: 0 1rem;
  line-height: 1.5rem;
  font-size: 16px;
}

.rate {
  padding: 0.9rem;
  border: 0.5px solid transparent;
  border-radius: 50%;
  background-color: hsl(213, 19%, 18%);
  position: relative;
  left: 3rem;
  top: 1rem;
  margin: 0 0.5rem;
  color: hsl(217, 12%, 63%);
  transition: all 0.3s ease;
  cursor: pointer;
}

.rate:hover {
  background-color: hsl(214, 19%, 41%);
}

.rate:active {
  background-color: hsl(25, 97%, 53%);
  color: #fff;
}

.submit {
  background-color: hsl(25, 97%, 53%);
  color: #fff;
  position: relative;
  top: 2.8rem;
  left: 4rem;
  padding: 0.7rem 7rem;
  border: none;
  border-radius: 20px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.submit:hover {
  background-color: #fff;
  color: hsl(25, 97%, 53%);
}

.hide {
  display: none;
}

.container-two img {
  padding: 1.5rem 6rem;
}

.container-two .result {
  background-color: hsl(213, 19%, 18%);
  color: orange;
  border-radius: 20px;
  padding: 0.3rem 0.5rem;
  width: 49%;
  position: relative;
  left: 6rem;
}

.container-two h2 {
  color: #fff;
  padding: 1rem;
  margin-left: 7rem;
}

.container-two p {
  padding: 1rem 2rem;
  margin-bottom: 6rem;
}
